
@{
    ViewBag.Title = "Hakkımızda";
    Layout = "~/Views/Shared/_AnaSablon.cshtml";
}

<section class="about py-lg-4 py-md-3 py-sm-3 py-3">
    <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
        <h3 class="title text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">HAKKIMIZDA</h3>
        <div class="about-innergrid-agile text-center">
            <p class="mb-3">
                2018 yılından bu yana oyuncak pazarındaki marka imajını hiç bozmadan başarı ile sürdüren Gamecak,
                yılların tecrübesini günümüz teknolojisi ve güncel üretim kalitesi ile ürünlerine yansıtmaktadır.
                Türkiye oyuncak üreticilerinin en köklü ve eskilerinden biri olan firmamız kurulduğu günden
                bu yana yapmış olduğu atılımlar ile hem ürün gamını genişletmiş hem de değişik yaş gruplarına uygun
                oyuncakların yanı sıra zekâ geliştiren oyuncak grubunu da değerli küçüklerin hatta kimi zaman büyüklerin de
                beğenisine sunmuştur.
                <br /><br />
                Hayallerden yola çıkılarak uzun uğraşılar ve çalışma saatlerinin neticesinde hazırlamış olduğumuz
                oyuncaklar serimizde, tasarımı ve kalitesi ile çocukların zihinsel ve yaratıcılık
                yeteneklerini geliştirilmesi hedeflenerek, dünyada eşi ve benzeri olmayan bir ürünün imalatları gerçekleştirilmiştir.
                <br /><br />
                En büyük amacımız siz değerli müşterilerimize hızlı ulaşılan, kaliteli, sağlıklı ürünler sunmaktır. 
            </p>
            <div class=" img-toy-w3l-top">
            </div>
        </div>
        <div class="about-sub-inner text-center mt-lg-4 mt-3">
            <h4 style="font-family:Arial; font-weight:bold;">
                ÇOCUKLARINIZ  GELECEĞİMİZ
            </h4>          
        </div>
    </div>
</section>

