@model UrunListele
@{
    ViewBag.Title = "Oyuncaklar";
    Layout = "~/Views/Shared/_AnaSablon.cshtml";
}

<!--A Design by W3layouts
   Author: W3layout
   Author URL: http://w3layouts.com
   License: Creative Commons Attribution 3.0 Unported
   License URL: http://creativecommons.org/licenses/by/3.0/
   -->
<!DOCTYPE html>
<html lang="zxx">
<head>

    <!--meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Toys Shop Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
         Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!--//meta tags ends here-->
    <!--booststrap-->
    <link href="~/Content/Tema/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all">
    <!--//booststrap end-->
    <!-- font-awesome icons -->
    <link href="~/Content/Tema/css/fontawesome-all.min.css" rel="stylesheet" type="text/css" media="all">
    <!-- //font-awesome icons -->
    <!--Shoping cart-->
    <link rel="stylesheet" href="~/Content/Tema/css/shop.css" type="text/css" />
    <!--//Shoping cart-->
    <!--price range-->
    <link rel="stylesheet" type="text/css" href="~/Content/Tema/css/jquery-ui1.css">
    <!--//price range-->
    <!--stylesheets-->
    <link href="~/Content/Tema/css/style.css" rel='stylesheet' type='text/css' media="all">
    <!--//stylesheets-->
    <link href="//fonts.googleapis.com/css?family=Sunflower:500,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
</head>
<body>

    <section class="contact py-lg-4 py-md-3 py-sm-3 py-3">
        <div class="container-fluid py-lg-5 py-md-4 py-sm-4 py-3">
            <h3 class="title text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">Oyuncaklar</h3>
            <div class="row">
                <div class="col-lg-3">
                    <!-- price range -->
                    <!-- //price range -->
                    <!--preference -->
                    @using (Html.BeginForm("Index", "Oyuncak", FormMethod.Post))
                    {
                        <div class="left-side range">
                            <h3 class="agileits-sear-head">Kategoriler</h3>
                            <ul>
                                @foreach (var kategori in Model.kategoriler)
                                {
                                    if (kategori.kategoriID == 1)
                                    {
                                        <li>
                                            <input type="radio" class="checked" checked value="1" name="kategoriListele">
                                            <span class="span">TÜMÜ</span>
                                        </li>
                                    }
                                    else
                                    {
                                        <li>
                                            <input type="radio" class="checked" value="@kategori.kategoriID" name="kategoriListele">
                                            <span class="span">@kategori.kategoriAd</span>
                                        </li>
                                    }
                                }
                            </ul>
                        </div>
                        <div class="left-side">
                            <button type="submit" class="btn" style="width:100%">Filtrele </button>
                        </div>
                    }
                    <!-- // preference -->
                    <!-- discounts -->
                    <!-- //deals -->
                </div>
                <div class="left-ads-display col-lg-9">
                    <div class="row">
                        @foreach (var urun in Model.urunler)
                        {
                            <div class="col-lg-4 col-md-6 col-sm-6 product-men women_two">
                                <div class="product-toys-info">
                                    <div class="men-pro-item">
                                        <div class="men-thumb-item">
                                            @foreach (var resim in Model.urunResimler)
                                            {
                                                if (urun.urunID == resim.urunID)
                                                {
                                                    <img src="~/Content/Resimler/Urunler/@resim.resimAd" width="300" height="300" alt="">
                                                    break;
                                                }
                                            }
                                            <div class="men-cart-pro">
                                                <div class="inner-men-cart-pro">
                                                    <a href="/Oyuncak/Detay/@urun.urunID" class="link-product-add-cart">Detay</a>
                                                </div>
                                            </div>
                                            <span class="product-new-top">Yeni</span>
                                        </div>
                                        <div class="item-info-product">
                                            <div class="info-product-price">
                                                <div class="grid_meta">
                                                    <div class="product_price">
                                                        <h6>
                                                            @urun.urunAd
                                                        </h6>
                                                        <div class="grid-price mt-2">
                                                            <span class="money ">@urun.urunFiyat.Value.ToString("0.#####") TL</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //show Now-->
    <!--subscribe-address-->


    <script src='~/Content/Tema/js/jquery-2.2.3.min.js'></script>
    <!--//js working-->
    <!-- cart-js -->
    <script src="~/Content/Tema/js/minicart.js"></script>
    <script>
        toys.render();

        toys.cart.on('toys_checkout', function (evt) {
            var items, len, i;

            if (this.subtotal() > 0) {
                items = this.items();

                for (i = 0, len = items.length; i < len; i++) { }
            }
        });
    </script>
    <!-- //cart-js -->
    <!-- price range (top products) -->
    <script src="~/Content/Tema/js/jquery-ui.js"></script>
    <script>
        //<![CDATA[
        $(window).load(function () {
            $("#slider-range").slider({
                range: true,
                min: 0,
                max: 9000,
                values: [50, 6000],
                slide: function (event, ui) {
                    $("#amount").val("$" + ui.values[0] + " - $" + ui.values[1]);
                }
            });
            $("#amount").val("$" + $("#slider-range").slider("values", 0) + " - $" + $("#slider-range").slider("values", 1));

        }); //]]>
    </script>
    <!-- //price range (top products) -->
    <!-- start-smoth-scrolling -->
    <script src="~/Content/Tema/js/move-top.js"></script>
    <script src="~/Content/Tema/js/easing.js"></script>
    <script>
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 900);
            });
        });
    </script>
    <!-- start-smoth-scrolling -->
    <!-- here stars scrolling icon -->
    <script>
        $(document).ready(function () {

            var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
            };


            $().UItoTop({
                easingType: 'easeOutQuart'
            });

        });
    </script>
    <!-- //here ends scrolling icon -->
    <script src="~/Content/Tema/js/bootstrap.min.js"></script>
    <!-- //bootstrap working-->      <!-- //OnScroll-Number-Increase-JavaScript -->
</body>
</html>

